.hero-body {
    background-image: url("../images/Image-35-bigstock-Tropical-Beach-Panorama-21910193.jpg");
    width: 100%;
    background-repeat: no-repeat;
    
    
}

#aboutMe {
    display:flex;
    flex-direction: row;
    
    

    .myIMG {
        border-radius: 50%;
        margin-right: 20px;;
    }

    h1 {
        color:#009879;
    }
}

#myProjects {
    text-align: center;
    font-size: 28px;
    
}

#contactMe {
    text-align: center;
}

#contactMe {
    color: #12c7a3;

    ul {
        list-style: none;
        display: inline-flex;
    }

    li {
        margin: 1rem;
    }
}

h1, h2, h3 {
    color: #009879;
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .f-btn {
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 1em;
    margin-right: 1em;  
    cursor: pointer;
    transition: all 0.3s;
  
    &.f-btn {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
      -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
      box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);      
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #006fff, #00acff 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
      }
    }
  }
  